@model ContactViewModel

<section class="breadcrumb">
    <div class="container">
        <ul>

            <li>
                <a class="menu-link" asp-controller="Home" asp-action="Index">HOME</a>
            </li>
            <li class="active">Contacts</li>
        </ul>
    </div>
</section>

<section class="google-maps">
    <iframe src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Tomtebodav%C3%A4gen%203a+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>


<section class="contact-form">
    <div class="container">
        <h1>Come in Contact with Us</h1>

        <form method="post" novalidate>
            <div class="contact-form-name">
                <input asp-for="CustomerName" placeholder="Your Name" />
                <span asp-validation-for="CustomerName" class="error"></span>
            </div>

            <div class="contact-form-email">
                <input asp-for="Email" placeholder="Your Mail">
                <span asp-validation-for="Email" class="error"></span>
            </div>

            <div class="contact-form-comments">
                <textarea asp-for="Comment" placeholder="Comments"></textarea>
                <span asp-validation-for="Comment" class="error"></span>
            </div>

            <button class="btn-theme" type="submit">Post Comments</button>
            @if (ViewBag.IsSent != null && ViewBag.IsSent)
            {
                <div class="alert alert-success text-center">
                    <p>Your comment has been sent successfully.</p>
                </div>
            }
        </form>
    </div>
</section>