<footer>
    <div class="container mb-4">
        <i class="fa-brands fa-facebook-f me-3 fa-lg"></i>
        <i class="fa-brands fa-instagram me-3 fa-lg"></i>
        <i class="fa-brands fa-twitter me-3 fa-lg"></i>
        <i class="fa-brands fa-google me-3 fa-lg"></i>
        <i class="fa-brands fa-linkedin me-3 fa-lg"></i>
    </div>
    <div class="container">
        © @DateTime.Now.Year Fixxo. All rights reserved.
    </div>
</footer>