@model ProductModel

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <img src="@Model.ImageUrl" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h2>@Model.ProductName</h2>
            <partial name="~/Views/Shared/Partials/Components/_StarRating.cshtml" model="Model.Rating" />
            <p class="lead">$@Model.Price.ToString("0.00")</p>
            <p>@Model.Description</p>
            <div class="form-group row">
                <label for="size" class="col-sm-2 col-form-label">Size:</label>
                <div class="col-sm-10">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary">
                            <input type="radio" name="size" id="size-s" autocomplete="off"> S
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="size" id="size-m" autocomplete="off"> M
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="size" id="size-l" autocomplete="off"> L
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="size" id="size-xl" autocomplete="off"> X
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="color" class="col-sm-2 col-form-label">Color:</label>
                <div class="col-sm-10">
                    <select class="form-control" id="color">
                        <option>Red</option>
                        <option>Blue</option>
                        <option>Green</option>
                        <option>Black</option>
                        <option>White</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="quantity" class="col-sm-2 col-form-label">Qty:</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button class="btn btn-secondary" type="button" id="button-minus">-</button>
                        </div>
                        <input type="text" class="form-control" id="quantity" value="1">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="button" id="button-plus">+</button>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-warning btn-lg">ADD TO CART</button>
        </div>
    </div>
</div>
