@*@model UserModel*@

<div class="container">
    <div class="d-grid justify-content-center mt-5 mb-5">
        <h1>User profile</h1>
        <a class="btn-white" asp-controller="Auth" asp-action="Login">Switch account</a>
    </div>
@*    <h1>@Model.FirstName @Model.LastName</h1>
    <h2>@Model.Email</h2>
    <h2>@Model.Role</h2>*@
</div>