<div class="star-rating">
	<i class="fa-sharp fa-star fa-solid"></i>
	<i class="fa-sharp fa-star fa-solid"></i>
	<i class="fa-sharp fa-star fa-solid"></i>
	<i class="fa-sharp fa-star fa-regular"></i>
	<i class="fa-sharp fa-star fa-regular"></i>
</div>